.bmi-form {
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.bmi-form__title {
    font-size: 2.2rem;
    color: #000;
}

.bmi-form__info {
    margin-top: 12px;
}

.bmi-form__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.bmi-form__label {
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 60px;
}

.bmi-form__input {
    font-size: 1.4rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    flex: 1;
}

.bmi-form__input:focus {
    border: 1px solid #f7346f;
    outline: #f7346f;
}

.bmi-form__btn {
    float: right;
    clear: both;
}
